@use '../customs' as *;
@use '../components/mixins' as *;

.contact{
    padding: 100px 0 50px 0;

    .con-h{
        h2{
            text-transform: capitalize;
            font-size: 60px;
            color: $white;
            text-align: center;
        }
    }
    .send{
        margin-top: 30px;
        button{
            width: 100%;
            text-transform: capitalize;
            padding: 10px;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            position: relative;
            border: 1px solid $white;
            z-index: 1;
           
            background: #042c58;
            &::before{
                content:"";
                position: absolute;
                top: 0;
                left:0;
                width: 0%;
                height: 100%;
                background: #126bd1;
                
                z-index: -1;
                transition: 0.5s;
            }
            &:hover{
                &::before{
                    width: 100%;
                }
            }
            
        }

    }
}