@use '../customs' as *;
@use '../components/mixins' as *;

.cart-section{
    background-color: #042c58;
    padding:100px 0;
    .t-h{
        color: #fff;
        font-size: 60px;
        font-weight: bold;
    }
    .cart-q{
        .row-1{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            border: 1px dotted #fff;
            padding: 10px;
            li{
                color: #fff;
                margin-left: 10%;
            }
        }
        
    }
    .cart-q1{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .icon{
            a{
            display: inline-block;
            color: #fff;
            font-size: 30px;
            @include media-breakpoint-down(sm){
                     font-size: 18px;
                }
            }
        }
        li{
            list-style: none;
            color: #fff;
            input{
                outline: 0;
            }
        }  
        .cart-photo{
            max-width: 70px;
        } 
    }
    .table{
        
        border: 1px solid $white;
        text-align: center;
        tr{
            border-bottom: 1px dotted $white;
        }
        td{
            
            border: none;
            color: white;
            span{
                display: inline-block;
                margin-right: 5px;
                
            }
            img{
                height: 40px;
                width: 40px;
                max-width: 100%;
            }
            input:focus{
                outline: 0;
                
            }
            input{
                display: inline-block;
                
                @include media-breakpoint-down(md){
                    width: 100%;  
                }
            }
            button{
                border: none;
            }
        }
        th{
            border: none;
            color: white;
            border-bottom: 1px dotted $white;
        }
    }
    .row-3{
        
        list-style: none;
        display: flex;
        margin-top : 20px;
        border-bottom: 1px dotted #fff;
        padding-bottom: 20px;
        
        li{
            input{
                    padding: 10px;
                    border-radius: 10px;
                    outline: 0;
                    display: inline-block;
                    border: none;
            }
            button{
                color: #666;
                padding: 10px;
                display: inline-block;
                margin-left: 20px;
                border-radius: 10px;
                border: none;
                font-weight: bold;
                @include media-breakpoint-down(sm){
                    margin-left: 0px;
                }
                &:hover{
                    background-color: #D6740F;
                }
            }
        }
        
    }
    .cart-bottom{
        .cart-bottom-content{
            border: 1px dotted #fff;
            padding: 20px;
            h3{
                color: #fff;
                font-size: 40px;
                border-bottom: 2px solid #fff;
            }
            .subtotal{
                display: flex;
                justify-content: space-between;
                p{
                    color: #fff;
                }
            }
            .cart-pay{
                a{
                    text-decoration: none;
                    display: inline-block;
                    text-transform: capitalize;
                    background:rgb(63, 61, 61);
                    border-radius: 100px;
                    padding: 10px 20px;
                    color: #fff;
                    width: 100%;
                    text-align: center;
                }
            }
        }
        
    }
    
    
    
}