@mixin counter-number{
        color: #FFF;
        font-size: 48px;
        font-weight: 700;
}
@mixin text{
            color: #FFF;
            font-size: 20px;
}
@mixin pluse{
    color: #FFF;
    font-size: 20px;
    top: 50%;
    left: 0;
    position: relative;
}
@mixin countercontent{
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: rgba(0,0,0,.2);
    box-shadow: 0 28px 40px 0 rgb(0 0 0 / 10%);
}
@mixin btnstyle{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        padding: 10px;
        text-transform: capitalize;
        border: 1px solid #fff;
        border-radius: 10px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            border-radius: 5px;
            z-index: -1;
            transform: scale(1,0.5);
            opacity: 0;
            
        }
        &:hover{
            color: #000;
            &::before{
                transform: scale(1,1);
                opacity: 1;
                transition: 0.5s;
            }
        }  
}