@use '../customs' as *;
@use '../components/mixins' as *;

.catagoty{
    background-color: #042c58;
    .cardbackground{
        background-color: #042c58;
    }
    .catagory-area{
        padding: 40px 0px;
        background:rgba(116, 111, 111, 0.19);
        margin-top: 1.5rem !important;
        box-shadow: 5px 5px 8px 5px rgba(116, 111, 111, 0.19);
        .catagory-area{
            padding: 40px 0px;
            background:rgba(116, 111, 111, 0.19);
            
            margin-top: 1.5rem !important;
            box-shadow: 5px 5px 8px 5px rgba(116, 111, 111, 0.19);
        }
        ul{
            list-style: none;
            li{
                line-height: 2;
                span{
                    display: inline-block;
                    color: #fff;
                    padding: 0 10px;
                }
                a{
                    text-decoration: none;
                    display:inline-block;
                    color: #fff;
                    text-transform: capitalize;
                    
                }
            }
        }
        
        
        
    }
    .productsection{
        background-color: #042c58;
        .card-body{
            .cardheadtext{
                font-size: 1.1rem;
                height: 35px;
            }
            .cardbackground{
                overflow: hidden;
            }
            .nav-link{
                
            }
            
        }
        .img-wrapper{
            overflow: hidden;
            .card-img-top{
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
           
    }
}